{% extends "base.html" %}
{% load custom_filters %}
{% load markup %}



{% block title %}CCCU Law - {{ module }}{% endblock %}

{% block content %}

<h2>Add Students to {{ module }}</h2>

<p align="right">
    <button class="btn btn-small" type="button" id="show">Show non-eligible students</button>
</p>

<table cellpadding="4">
    <tr>
        <td>
            <input type="checkbox" id="select_llb" onchange="selectLLBStudents()" name="select_llb " /> All LLB
        </td>
        <td>
            <input type="checkbox" id="select_all_items" onchange="selectAllItems()" name="select_all_items" /> All Others
        </td>
    </tr>
</table>

<table id="sortable_table" class="table table-hover table-sortable">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Year
            </th>
            <th>
                Student
            </th>
            <th>
                ID
            </th>
            <th>
                Course
            </th>
        </tr>
    </thead>
    <form action = "", method="post">
    <tbody>
    {% for student in students %}
    {% if student.active %}
        {% if student.student_id in eligible %}
            <tr>
        {% else %}
            <tr class="not_eligible">
        {% endif %}
            <td>
                {% if student.student_id in eligible %}
                    {% if student.course == llb %}
                        <input type="checkbox" name="selected_student_id" class="LLBCheckbox" value="{{ student.student_id }}">
                    {% else %}
                        <input type="checkbox" name="selected_student_id" class="NonLLBCheckbox" value="{{ student.student_id }}">
                    {% endif %}
                {% else %}
                     <input type="checkbox" name="selected_student_id" value="{{ student.student_id }}">
                {% endif %} 
            </td>
            <td>
                {{ student.year }}
            </td>
            <td>
                <a href="/student/{{ student.student_id }}">{{ student }}</a>
            </td>
            <td>
                {{ student.student_id }}
            </td>
            <td>
                {{ student.course }}{% if student.qld %} (QLD){% endif %}
            </td>
        </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>

{% csrf_token %}

<input type="submit" value="Add students" class="btn btn-primary">

Please be patient - depending on the number of students you are adding, this can take a little moment.

</form>

{% endblock %}

{%block scripts %}

    function selectAllItems() {  
        var selectAll = $("#select_all_items");  
        $(".NonLLBCheckbox").each(function (index, item) {  
            if (selectAll.prop("checked") != $(item).prop('checked')) {  
                $(item).trigger('click');  
            }  
        });  
    }  

    function selectLLBStudents() {  
        var selectLLB = $("#select_llb");  
        $(".LLBCheckbox").each(function (index, item) {  
            if (selectLLB.prop("checked") != $(item).prop('checked')) {  
                $(item).trigger('click');  
            }  
        });  
    }  

    $(document).ready(function(){
        $(".not_eligible").hide();
    });

    $(document).ready(function(){
        $("#show").click(function(){
            $(".not_eligible").toggle();
        });
    });

    $(document).ready(function(){
            $('#show').click(function(){
                  if ($(this).text() == "Show non-eligible students") 
                  { 
                     $(this).text("Hide non-eligible students"); 
                  } 
                  else 
                  { 
                     $(this).text("Show non-eligible students"); 
                  }; 
                });
            });

{% endblock %}
