{% extends "base.html" %}
{% load custom_filters %}

{% block title %}CCCU Law -  Attendances for Year {{year}}{% endblock %}

{% block content %}

<h1>Attendance Overview</h1>

<br><br>

<table>
    <tr>
        <td>
            <span class="glyphicon glyphicon-ok"></span>
        </td>
        <td>
            Present
        </td>
    </tr>
    <tr>
        <td>
            <span class="glyphicon glyphicon-ok-circle"></span>
        </td>
        <td>
            Absent, but excused
        </td>
    </tr>
    <tr>
        <td>
            <span class="glyphicon glyphicon-minus"></span>
        </td>
        <td>
            Absent
        </td>
    </tr>
</table>
<br><br>

<table id="sortable_table" class="table table-hover table-sortable table-condensed">
    <thead>
        <tr>
            <th>
                &nbsp;
            </th>
            <th>
                <span class="glyphicon glyphicon-sort"></span>
                Student
            </th>
            <th>
                <span class="glyphicon glyphicon-sort"></span>
                Module
            </th>
            {% for i in 25|get_range %}
            <th{% if i < 12 %} class="autumn"{% elif i < 15 %} class="break"{% else %} class="summer"{% endif %}>
                {{ i|add:5 }}
            </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in all_rows %}
        <tr>
            {% for entry in row %}
            <td>
                {% if entry == 'NT' %}
                &nbsp;
                {% elif entry == '0' %}
                <span class="glyphicon glyphicon-minus"></span>
                {% elif entry == '1' %}
                <span class="glyphicon glyphicon-ok"></span>
                {% elif entry == 'e' %}
                <span class="glyphicon glyphicon-ok-circle"></span>
                {% else %}
                {{ entry|safe }}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}


{% block sortorder %}[[1,0],[2,0]]{% endblock %}
