{% extends "base.html" %}
{% load custom_filters %}

{% block title %}CCCU Law -  Attendances for Year {{year}}{% endblock %}

{% block content %}

<h1>Attendance Overview</h1>

<div class="btn-group">
    <button type="button" class="btn btn-default" id="toggle_autumn">Hide Autumn Term</button>
    <button type="button" class="btn btn-default" id="toggle_spring">Hide Spring Term</button>
</div>

<br><br>

<table id="sortable_table" class="table table-hover table-sortable table-condensed">
    <thead>
        <tr>
            <th>
                &nbsp;
            </th>
            <th>
                <span class="glyphicon glyphicon-sort"></span>
                Student
            </th>
            <th>
                <span class="glyphicon glyphicon-sort"></span>
                Module
            </th>
            {% for i in 25|get_range %}
            {% comment %}
            <th{% if i < 12 %} class="autumn"{% elif i < 15 %} class="break"{% else %} class="spring"{% endif %}>
            {% endcomment %}
            <th>
                {{ i|add:5 }}
            </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in all_rows %}
        <tr>
            <td>
                {{ row.email|safe }}
            </td>
            <td>
                {{ row.student|safe }}
            </td>
            <td>
                {{ row.module|safe }}
            </td>
            {% for i in 25|get_range %}
            {% comment %}
            <td{% if i < 12 %} class="autumn"{% elif i < 15 %} class="break"{% else %} class="spring"{% endif %}>
            {% endcomment %}
            <td>
                {% if row|get_item:i == "0" %}
                    <span class="glyphicon glyphicon-minus"></span>
                {% elif row|get_item:i == '1' %}
                    <span class="glyphicon glyphicon-ok"></span>
                {% else %}
                    &nbsp;
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block scripts %}

<script type="text/javascript">

    $(document).ready(function(){

        $(".break").hide();

        {% comment %}
        $("#toggle_autumn").click(function(){
            $(".autumn").toggle();
            if ($(this).text() == "Hide Autumn Term")
            {
                $(this).text("Show Autumn Term");
            }
            else
            {
                $(this).text("Hide Autumn Term");
            };
        });
        $("#toggle_spring").click(function(){
            $(".spring").toggle();
            if ($(this).text() == "Hide Spring Term")
            {
                $(this).text("Show Spring Term");
            }
            else
            {
                $(this).text("Hide Spring Term");
            };
        });
        {% endcomment %}


    });
</script>

{% endblock %}


{% block sortorder %}[[1,0],[2,0]]{% endblock %}
