{% extends "base.html" %}
{% load custom_filters %}

{% block title %}CCCU Law - {{current_module}}{% endblock %}

{% block style %}

.mark_field
{
    width: 50px;
}

{% endblock %}

{% block formstart %}
<form action="" id="markForm" method="post">
{% csrf_token %}
{% endblock %}

{% block content %}

<h2>
    Marks for {{ current_module.title }} ({{ current_module.year }}/{{ current_module.year | add:1 }})
</h2>

{% if no_exam_ids %}

<div class="well">
    <strong>Please note that the IDs for the following students are still missing:</strong>
    <ul>
        {% for student in no_exam_ids %}
        <li>
        {{ student.first_name }} {{ student.last_name }} ({{ student.student_id }})
        </li>
        {% endfor %}
    </ul>
    <p>
        Please <a href="mailto:abs.registry@canterbury.ac.uk?subject=Missing%20Exam%20IDs
    &amp;body=Dear%20Registry%2C%0A%0AWe%20are%20currently%20missing%20the%20exam%20ids%20for%20the%20following%20students%3A%0A%0A{% for student in no_exam_ids %}{{ student.first_name }}%20{{ student.last_name }}%20({{ student.student_id }})%0D%0A{% endfor %}%0D%0AIt%20would%20be%20nice%20if%20you%20could%20let%20us%20know%20their%20IDs%20as%20soon%20as%20possible.%0A%0AThanks%2C">send an email to registry</a> and forward the answer to tobias.kliem@canterbury.ac.uk. Thanks!
    </p>
</div>


{% endif %}

<table id ="sortable_table" class="table table-striped table-sortable">
    <thead>
        <tr>
            <th>
                Exam ID
            </th>
            <th>
                Assessment Title
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
    {% for exam_id, mark in marks.items|sort %}
        <tr>
            <td>
                {{ exam_id }}
            </td>
            <td>
                <input class="form-control mark_field" id="{{ exam_id }}" name="{{ exam_id }}" value="{{ mark|default_if_none:"" }}">
            </td>
            <td>
                <span class="help-block" id="{{ exam_id }}_error"></span>
            </td>
        <tr>
        {% endfor %}
    </tbody>
</table>

<input type="submit" value="Save Marks" class="btn btn-default" align="right">

{% endblock %}

{% block formend %}
</form>
{% endblock %}

{% block scripts %}

<script type="text/javascript">

    $(document).ready(function(){
        $(".mark_field").change(function(){
            value = $(this).val()
            var errortag = '#' + $(this).prop("name") + '_error';
            if ($.isNumeric(value)){
                value = parseInt(value);
                if (value < 0 || value > 100){
                    $(errortag).text('Please enter a number between 0 and 100');
                }
                else{
                    $(errortag).text('');
                }
            }
            else {
                $(errortag).text('Please enter a number between 0 and 100');
            }
        });
    });

</script>

{% endblock %}
