{% extends "base.html" %}
{% load custom_filters %}
{% load markup %}

{% block title %}CCCU Law - {{ student.first_name }} {{ student.last_name }}{% endblock %}

{% block content %}

    <h2>Learning support plan for {{ student.first_name }} {{ student.last_name }}</h2>

    <br><br>
    {% if edit %}
    <p align="right">
        <button class="btn btn-small" type="button" id="md-helper">Help with Formatting</button>
    </p>

    <div id="md-helptext">
    {{ mdexplanation | safe }}
    </div><br>

    <form action="/lsp_edit/{{ student.student_id }}/" method="post" accept-charset="utf-8">
        {% csrf_token %}
        {{ form.lsp }}<br>
        <input type="submit" value="Save" class="btn btn-primary">
    </form>
    {% else %}
    {{ student.lsp | markdown}}
    {% endif %}

{% endblock %}

{% block scripts %}

    $(document).ready(function(){
        $("#md-helptext").hide();
    });

    $(document).ready(function(){
        $("#md-helper").click(function(){
            $("#md-helptext").toggle();
        });
    });

    $(document).ready(function(){
            $('#md-helper').click(function(){
                  if ($(this).text() == "Help with Formatting") 
                  { 
                     $(this).text("Hide Formatting Help"); 
                  } 
                  else 
                  { 
                     $(this).text("Help with Formatting"); 
                  }; 
                });
            });

{% endblock %}
