{% extends "base.html" %}
{% load custom_filters %}

{% block title %}CCCU Law - {{module}}{% endblock %}

{% block content %}

<div class="jumbotron">
    <h2>{{module}}</h2>

<p>
<table class="table">
    <tr>
        <td><strong>ID</strong></td>
        <td>{{module.code}}</td>
        <td><strong>Year</strong></td>
        <td>{{module.year}}/{{module.year|add:"1"}}</td>
    </tr>
    <tr>
        <td><strong>Number of Students</strong></td>
        <td>{{ module.student_set.count }}</td>
        <td><strong>Sessions so far<strong></td>
        <td>{{ module.sessions_recorded }}</td>
</table>
</p>  
{% if adminorinstructor %}
    <p>
        <small><a href=# class="delete">Delete this module</a></small>
    </p>
{% endif %}
 <p align="right">
 <a class="btn btn-default" href="{{ module.get_edit_url }}">
        Edit
    </a>
</p>
</div>

<div class="btn-group">
    <div class="btn-group dropdown">
        <a class = "btn btn-default dropdown-toggle" data-toggle="dropdown">Enter/Change Marks <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            {% if module.assessment_1_title %}
                <li>
                    <a href="{{ module.get_mark_url }}assessment_1">
                        {{ module.assessment_1_title }}
                    </a>
                </li>
            {% endif %}
            {% if module.assessment_2_title %}
                <li>
                    <a href="{{ module.get_mark_url }}assessment_2">
                        {{ module.assessment_2_title }}
                    </a>
                </li>
            {% endif %}
            {% if module.assessment_3_title %}
                <li>
                    <a href="{{ module.get_mark_url }}assessment_3">
                        {{ module.assessment_3_title }}
                    </a>
                </li>
            {% endif %}
            {% if module.assessment_4_title %}
                <li>
                    <a href="{{ module.get_mark_url }}assessment_4">
                        {{ module.assessment_4_title }}
                    </a>
                </li>
            {% endif %}
            {% if module.assessment_5_title %}
                <li>
                    <a href="{{ module.get_mark_url }}assessment_5">
                        {{ module.assessment_5_title }}
                    </a>
                </li>
            {% endif %}
            {% if module.assessment_6_title %}
                <li>
                    <a href="{{ module.get_mark_url }}assessment_6">
                        {{ module.assessment_6_title }}
                    </a>
                </li>
            {% endif %}
            {% if module.exam_value %}
                <li>
                    <a href="{{ module.get_mark_url }}exam">
                        Exam
                    </a>
                </li>
            {% endif %}
            {% if module.exam_value %}
                <li>
                    <a href="{{ module.get_anonymous_mark_url }}exam">
                        Anonymous Exam Marks
                    </a>
                </li>
            {% endif %}
            {% comment %}

            Uncomment this part if you want to anonymise marking for all assessments

            <li class="dropdown-submenu">
            <a tabindex="-1" href="#">Enter/Change Marks Anonymously</a>
            <ul class = "dropdown-menu">
                {% if module.assessment_1_title %}
                    <li>
                        <a href="{{ module.get_anonymous_mark_url }}assessment_1">
                            {{ module.assessment_1_title }}
                        </a>
                    </li>
                {% endif %}
                {% if module.assessment_2_title %}
                    <li>
                        <a href="{{ module.get_anonymous_mark_url }}assessment_2">
                            {{ module.assessment_2_title }}
                        </a>
                    </li>
                {% endif %}
                {% if module.assessment_3_title %}
                    <li>
                        <a href="{{ module.get_anonymous_mark_url }}assessment_3">
                            {{ module.assessment_3_title }}
                        </a>
                    </li>
                {% endif %}
                {% if module.assessment_4_title %}
                    <li>
                        <a href="{{ module.get_anonymous_mark_url }}assessment_4">
                            {{ module.assessment_4_title }}
                        </a>
                    </li>
                {% endif %}
                {% if module.assessment_5_title %}
                    <li>
                        <a href="{{ module.get_anonymous_mark_url }}assessment_5">
                            {{ module.assessment_5_title }}
                        </a>
                    </li>
                {% endif %}
                {% if module.assessment_6_title %}
                    <li>
                        <a href="{{ module.get_anonymous_mark_url }}assessment_6">
                            {{ module.assessment_6_title }}
                        </a>
                    </li>
                {% endif %}
                {% if module.exam_value %}
                    <li>
                        <a href="{{ module.get_anonymous_mark_url }}exam">
                            Exam
                        </a>
                    </li>
                {% endif %}
            </ul>
            {% endcomment %}
        </ul>
    </div>
    <div class="btn-group dropdown">
        <a class = "btn btn-default dropdown-toggle" data-toggle="dropdown">Availability to Students<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            {% if module.assessment_1_title %}
                <li>
                    <a href="{{ module.get_toggle_assessment_availability_url }}1">
                        {% if module.assessment_1_available %}Hide {% else %}Show {% endif %}{{ module.assessment_1_title }}
                    </a>
                </li>
            {% endif %}
            {% if module.assessment_2_title %}
                <li>
                    <a href="{{ module.get_toggle_assessment_availability_url }}2">
                        {% if module.assessment_2_available %}Hide {% else %}Show {% endif %}{{ module.assessment_2_title }}
                    </a>
                </li>
            {% endif %}
            {% if module.assessment_3_title %}
                <li>
                    <a href="{{ module.get_toggle_assessment_availability_url }}3">
                        {% if module.assessment_3_available %}Hide {% else %}Show {% endif %}{{ module.assessment_3_title }}
                    </a>
                </li>
            {% endif %}
            {% if module.assessment_4_title %}
                <li>
                    <a href="{{ module.get_toggle_assessment_availability_url }}4">
                        {% if module.assessment_4_available %}Hide {% else %}Show {% endif %}{{ module.assessment_4_title }}
                    </a>
                </li>
            {% endif %}
            {% if module.assessment_5_title %}
                <li>
                    <a href="{{ module.get_toggle_assessment_availability_url }}5">
                        {% if module.assessment_5_available %}Hide {% else %}Show {% endif %}{{ module.assessment_5_title }}
                    </a>
                </li>
            {% endif %}
            {% if module.assessment_6_title %}
                <li>
                    <a href="{{ module.get_toggle_assessment_availability_url }}6">
                        {% if module.assessment_6_available %}Hide {% else %}Show {% endif %}{{ module.assessment_6_title }}
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="btn-group dropdown">
        <a class = "btn btn-default dropdown-toggle" data-toggle="dropdown">Attendance<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="{{ module.get_attendance_url }}all">
                    For all Groups
                </a>
            </li>
            {% for i in number_of_groups %}
            <li>
            <a href="{{ module.get_attendance_url }}{{ i }}">
                    Seminar Group {{ i }}
                </a>
            </li>
            {% endfor %}
            <li class = "divider"></li>
            <li>
                <a href = "{{ module.get_seminar_groups_url }}">
                    Assign Seminar Groups
                </a>
                <a href="{{ module.get_seminar_group_overview_url }}">
                    Get Seminar Group Overview
                </a>
            </li>

            <li>
                <a href="{{ module.get_attendance_sheet_url }}">
                    Get Attendance Sheet
                </a>
            </li>
        </ul>
    </div>
    <a class="btn btn-default" href="/na">
        Sits/Resits
    </a>
    <a class="btn btn-default" href="{{ module.get_export_marks_url }}">
        Export Mark Overview
    </a>
    {% comment %} 
    <div class="btn-group dropdown">
        <a class = "btn btn-default dropdown-toggle" data-toggle="dropdown">Email Students<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li>Email specific seminar groups</li>
            <li>
            <a href = "mailto:{{ user.email }}?bcc={% for performance in performances %}{{ performance.student.email }},{% endfor %}">
                    Email all students
                </a>
            </li>
        </ul>
    </div>
    {% endcomment %}
    <a class="btn btn-default" href="{{ module.get_add_students_url }}">
        Add Student(s)
    </a>
</div>

<br><br>
{% comment %}
{% endcomment %}


<table id ="sortable_table" class="table table-striped table-sortable">
    <thead>
        <tr>
            <th>
                &nbsp;
            </th>
            <th>
                Seminar Group
            </th>
            <th>
                Student
            </th>
            <th>
                LSP
            </th>
            <th>
                Attendance
            </th>
            {% if module.assessment_1_title %}
                <th>
                    {{ module.assessment_1_title }} ({{ module.assessment_1_value }}%)
                    {% if module.assessment_1_available %}
                        <span class="glyphicon glyphicon-eye-open"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-eye-close"></span>
                    {% endif %}
                </th>
            {% endif %}
            {% if module.assessment_2_title %}
                <th>
                    {{ module.assessment_2_title }} ({{ module.assessment_2_value }}%)
                    {% if module.assessment_2_available %}
                        <span class="glyphicon glyphicon-eye-open"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-eye-close"></span>
                    {% endif %}
                </th>
            {% endif %}
            {% if module.assessment_3_title %}
                <th>
                    {{ module.assessment_3_title }} ({{ module.assessment_3_value }}%)
                    {% if module.assessment_3_available %}
                        <span class="glyphicon glyphicon-eye-open"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-eye-close"></span>
                    {% endif %}
                </th>
            {% endif %}
            {% if module.assessment_4_title %}
                <th>
                    {{ module.assessment_4_title }} ({{ module.assessment_4_value }}%)
                    {% if module.assessment_4_available %}
                        <span class="glyphicon glyphicon-eye-open"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-eye-close"></span>
                    {% endif %}
                </th>
            {% endif %}
            {% if module.assessment_5_title %}
                <th>
                    {{ module.assessment_5_title }} ({{ module.assessment_5_value }}%)
                    {% if module.assessment_5_available %}
                        <span class="glyphicon glyphicon-eye-open"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-eye-close"></span>
                    {% endif %}
                </th>
            {% endif %}
            {% if module.assessment_6_title %}
                <th>
                    {{ module.assessment_6_title }} ({{ module.assessment_6_value }}%)
                    {% if module.assessment_6_available %}
                        <span class="glyphicon glyphicon-eye-open"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-eye-close"></span>
                    {% endif %}
                </th>
            {% endif %}
            {% if module.exam_value %}
                <th>
                    Exam ({{ module.exam_value }}%)
                </th>
            {% endif %}
            <th>
                Module Mark
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
    {% for row in rows %}
    <tr>
        <td>
            {% if row.no_attendance_twice %}
            <a href="mailto:{{ row.performance.student.email }}"><span class="glyphicon glyphicon-warning-sign no_attendance_twice"></span></a>
            {% else %}
                &nbsp;
            {% endif %}
        </td>
        <td>
            {% if row.performance.seminar_group %}
                {{ row.performance.seminar_group }}
            {% endif %}
        </td>
        <td>
            <a href="{{ row.performance.student.get_absolute_url }}">{{ row.performance.student.last_name }}, {{ row.performance.student.first_name|only_first_word }}</a>
        </td>
        <td>
            {% if row.performance.student.lsp %}<a href="{{ row.performance.student.get_lsp_view_url }}"><span class="glyphicon glyphicon-warning-sign"></span></a>{% endif %}
        </td>
        <td>
            {{ row.performance.attendance | count_attendance }} / {% if module.sessions_recorded %}{{ module.sessions_recorded }}{% else %}0{% endif %}
        </td>
        {% if module.assessment_1_title %} 
            <td>
                {% if feedback.1 %}
                    <a href = "/essay_feedback/{{ module.code }}/{{ module.year }}/1/{{ row.performance.student.student_id }}"><span class="glyphicon glyphicon-pencil"></span></a> &nbsp;
                {% endif %}
                {% if row.performance.assessment_1 %}
                    {{ row.performance.assessment_1 }} 
                {% endif %}
                {% if row.1 %}
                    &nbsp; <a href = "/export_feedback_sheet/{{ module.code }}/{{ module.year }}/1/{{ row.performance.student.student_id }}"><span class="glyphicon glyphicon-file"></span></a>
                {% endif %}
            </td> 
        {% endif %}
        {% if module.assessment_2_title %} 
            <td>
                {% if feedback.2 %}
                    <a href = "/essay_feedback/{{ module.code }}/{{ module.year }}/2/{{ row.performance.student.student_id }}"><span class="glyphicon glyphicon-pencil"></span></a> &nbsp;
                {% endif %}
                {% if row.performance.assessment_2 %}
                    {{ row.performance.assessment_2 }} 
                {% endif %}
                {% if row.2 %}
                    &nbsp; <a href = "/export_feedback_sheet/{{ module.code }}/{{ module.year }}/2/{{ row.performance.student.student_id }}"><span class="glyphicon glyphicon-file"></span></a>
                {% endif %}
            </td> 
        {% endif %}
        {% if module.assessment_3_title %} 
            <td>
                {% if feedback.3 %}
                    <a href = "/essay_feedback/{{ module.code }}/{{ module.year }}/3/{{ row.performance.student.student_id }}"><span class="glyphicon glyphicon-pencil"></span></a> &nbsp;
                {% endif %}
                {% if row.performance.assessment_3 %}
                    {{ row.performance.assessment_3 }} 
                {% endif %}
                {% if row.3 %}
                    &nbsp; <a href = "/export_feedback_sheet/{{ module.code }}/{{ module.year }}/3/{{ row.performance.student.student_id }}"><span class="glyphicon glyphicon-file"></span></a>
                {% endif %}
            </td> 
        {% endif %}
        {% if module.assessment_4_title %} 
            <td>
                {% if feedback.4 %}
                    <a href = "/essay_feedback/{{ module.code }}/{{ module.year }}/4/{{ row.performance.student.student_id }}"><span class="glyphicon glyphicon-pencil"></span></a> &nbsp;
                {% endif %}
                {% if row.performance.assessment_4 %}
                    {{ row.performance.assessment_4 }} 
                {% endif %}
                {% if row.4 %}
                    &nbsp; <a href = "/export_feedback_sheet/{{ module.code }}/{{ module.year }}/4/{{ row.performance.student.student_id }}"><span class="glyphicon glyphicon-file"></span></a>
                {% endif %}
            </td> 
        {% endif %}
        {% if module.assessment_5_title %} 
            <td>
                {% if feedback.5 %}
                    <a href = "/essay_feedback/{{ module.code }}/{{ module.year }}/5/{{ row.performance.student.student_id }}"><span class="glyphicon glyphicon-pencil"></span></a> &nbsp;
                {% endif %}
                {% if row.performance.assessment_5 %}
                    {{ row.performance.assessment_5 }} 
                {% endif %}
                {% if row.5 %}
                    &nbsp; <a href = "/export_feedback_sheet/{{ module.code }}/{{ module.year }}/5/{{ row.performance.student.student_id }}"><span class="glyphicon glyphicon-file"></span></a>
                {% endif %}
            </td> 
        {% endif %}
        {% if module.assessment_6_title %} 
            <td>
                {% if feedback.6 %}
                    <a href = "/essay_feedback/{{ module.code }}/{{ module.year }}/6/{{ row.performance.student.student_id }}"><span class="glyphicon glyphicon-pencil"></span></a> &nbsp;
                {% endif %}
                {% if row.performance.assessment_6 %}
                    {{ row.performance.assessment_6 }} 
                {% endif %}
                {% if row.6 %}
                    &nbsp; <a href = "/export_feedback_sheet/{{ module.code }}/{{ module.year }}/6/{{ row.performance.student.student_id }}"><span class="glyphicon glyphicon-file"></span></a>
                {% endif %}
            </td> 
        {% endif %}
        {% if module.exam_value %}
            <td>
                {% if row.performance.exam %}
                {{ row.performance.exam }}
                {% endif %}
            </td>
        {% endif %}
        <td>
            {% if row.performance.average %}
            {{ row.performance.average }}
            {% endif %}
        </td>
        <td>
            <a href="#" class="remove""><span class="glyphicon glyphicon-remove" id="{{ row.performance.student.student_id }}"></span></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table> 

{% endblock %}

{% block scripts %}

<script type="text/javascript">

    $(document).on("click", ".delete", function(e) {
        bootbox.confirm("Are you sure you want to delete this module and all associated marks?", function(confirm) {
        if (confirm)
        {
        window.location.replace("/delete_module/{{ module.code }}/{{ module.year }}")
        }
    });
    });


    $(document).on("click", ".remove", function(e) {
        bootbox.confirm("Are you sure you want to remove this student from the module and delete all marks the students might have in this module? If the student is just temporary absent, it is better to mark them inactive.", function(confirm) {
            if (confirm)
            {
            var student_id = e.target.id;
            var remove = "{{ module.get_remove_student_url }}" + student_id;
            window.location.replace(remove);
            }
        });
    });


    $(document).ready(function(){
        $(".no_attendance_twice").qtip({
        content: {
            text: 'This student did not attend at least the last two sessions. This information might be wrong if you already marked some, but not all attendance for this module.'
            }
        });
        
        $(".glyphicon-eye-open").qtip({
        content: {
            text: 'Students can see the results and the marksheets for this assessment. You can change that with the menu under Availablity to Students.'
            }
        });

        $(".glyphicon-eye-close").qtip({
        content: {
            text: 'Students cannot see the results and the marksheets for this assessment. You can change that with the menu under Availablity to Students.'
            }
        });
    });
</script>

{% endblock %}


{% block sortorder %}[[1,0],[0,0]]{% endblock %}
