{% extends "base.html" %}
{% load custom_filters %}

{% block title %}CCCU Law - {{module}}{% endblock %}

{% block content %}

<div class="jumbotron">
    <h2>{{module}}</h2>

<p>
<table class="table">
    <tr>
        <td><strong>ID</strong></td>
        <td>{{module.code}}</td>
        <td><strong>Year</strong></td>
        <td>{{module.year}}/{{module.year|add:"1"}}</td>
    </tr>
    <tr>
        <td><strong>Number of Students</strong></td>
        <td>{{ module.student_set.count }}</td>
        <td><strong>Sessions so far<strong></td>
        <td>{{ module.sessions_recorded }}</td>
</table>
</p>  
{% if adminorinstructor %}
    <p>
        <small><a href=# class="delete">Delete this module</a></small>
    </p>
{% endif %}
 <p align="right">
 <a class="btn btn-default" href="{{ module.get_edit_url }}">
        Edit
    </a>
</p>
</div>

<div class="btn-group">
    <div class="btn-group dropdown">
        <a class = "btn btn-default dropdown-toggle" data-toggle="dropdown">Enter/Change Marks <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            {% if module.assessment_1_title %}
                <li>
                    <a href="{{ module.get_mark_url }}assessment_1">
                        {{ module.assessment_1_title }}
                    </a>
                </li>
            {% endif %}
            {% if module.assessment_2_title %}
                <li>
                    <a href="{{ module.get_mark_url }}assessment_2">
                        {{ module.assessment_2_title }}
                    </a>
                </li>
            {% endif %}
            {% if module.assessment_3_title %}
                <li>
                    <a href="{{ module.get_mark_url }}assessment_3">
                        {{ module.assessment_3_title }}
                    </a>
                </li>
            {% endif %}
            {% if module.assessment_4_title %}
                <li>
                    <a href="{{ module.get_mark_url }}assessment_4">
                        {{ module.assessment_4_title }}
                    </a>
                </li>
            {% endif %}
            {% if module.assessment_5_title %}
                <li>
                    <a href="{{ module.get_mark_url }}assessment_5">
                        {{ module.assessment_5_title }}
                    </a>
                </li>
            {% endif %}
            {% if module.assessment_6_title %}
                <li>
                    <a href="{{ module.get_mark_url }}assessment_6">
                        {{ module.assessment_6_title }}
                    </a>
                </li>
            {% endif %}
            {% if module.exam_value %}
                <li>
                    <a href="{{ module.get_mark_url }}exam">
                        Exam
                    </a>
                </li>
            {% endif %}
            {% if module.exam_value %}
                <li>
                    <a href="{{ module.get_anonymous_mark_url }}exam">
                        Anonymous Exam Marks
                    </a>
                </li>
            {% endif %}
            


            {% comment %}

            Uncomment this part if you want to anonymise marking for all assessments

            <li class="dropdown-submenu">
            <a tabindex="-1" href="#">Enter/Change Marks Anonymously</a>
            <ul class = "dropdown-menu">
                {% if module.assessment_1_title %}
                    <li>
                        <a href="{{ module.get_anonymous_mark_url }}assessment_1">
                            {{ module.assessment_1_title }}
                        </a>
                    </li>
                {% endif %}
                {% if module.assessment_2_title %}
                    <li>
                        <a href="{{ module.get_anonymous_mark_url }}assessment_2">
                            {{ module.assessment_2_title }}
                        </a>
                    </li>
                {% endif %}
                {% if module.assessment_3_title %}
                    <li>
                        <a href="{{ module.get_anonymous_mark_url }}assessment_3">
                            {{ module.assessment_3_title }}
                        </a>
                    </li>
                {% endif %}
                {% if module.assessment_4_title %}
                    <li>
                        <a href="{{ module.get_anonymous_mark_url }}assessment_4">
                            {{ module.assessment_4_title }}
                        </a>
                    </li>
                {% endif %}
                {% if module.assessment_5_title %}
                    <li>
                        <a href="{{ module.get_anonymous_mark_url }}assessment_5">
                            {{ module.assessment_5_title }}
                        </a>
                    </li>
                {% endif %}
                {% if module.assessment_6_title %}
                    <li>
                        <a href="{{ module.get_anonymous_mark_url }}assessment_6">
                            {{ module.assessment_6_title }}
                        </a>
                    </li>
                {% endif %}
                {% if module.exam_value %}
                    <li>
                        <a href="{{ module.get_anonymous_mark_url }}exam">
                            Exam
                        </a>
                    </li>
                {% endif %}
            </ul>
            {% endcomment %}
        </ul>
    </div>
    <div class="btn-group dropdown">
        <a class = "btn btn-default dropdown-toggle" data-toggle="dropdown">Edit Attendance<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="{{ module.get_attendance_url }}all">
                    For all Groups
                </a>
            </li>
            {% for i in number_of_groups %}
            <li>
            <a href="{{ module.get_attendance_url }}{{ i }}">
                    Seminar Group {{ i }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <a class="btn btn-default" href="{{ module.get_seminar_groups_url }}">
        Seminar Groups
    </a>
    <a class="btn btn-default" href="/na">
        Sits/Resits
    </a>
    <a class="btn btn-default" href="/na">
        Export Data
    </a>
    <a class="btn btn-default" href="{{ module.get_add_students_url }}">
                    Add Student(s)
    </a>
</div>

<br><br>

<table id ="sortable_table" class="table table-striped table-sortable">
    <thead>
        <tr>
            <th>
                Seminar Group
            </th>
            <th>
                Student
            </th>
            <th>
                LSP
            </th>
            <th>
                Attendance
            </th>
            {% if module.assessment_1_title %}
                <th>
                    {{ module.assessment_1_title }} ({{ module.assessment_1_value }}%)
                </th>
            {% endif %}
            {% if module.assessment_2_title %}
                <th>
                    {{ module.assessment_2_title }} ({{ module.assessment_2_value }}%)
                </th>
            {% endif %}
            {% if module.assessment_3_title %}
                <th>
                    {{ module.assessment_3_title }} ({{ module.assessment_3_value }}%)
                </th>
            {% endif %}
            {% if module.assessment_4_title %}
                <th>
                    {{ module.assessment_4_title }} ({{ module.assessment_4_value }}%)
                </th>
            {% endif %}
            {% if module.assessment_5_title %}
                <th>
                    {{ module.assessment_5_title }} ({{ module.assessment_5_value }}%)
                </th>
            {% endif %}
            {% if module.assessment_6_title %}
                <th>
                    {{ module.assessment_6_title }} ({{ module.assessment_6_value }}%)
                </th>
            {% endif %}
            {% if module.exam_value %}
                <th>
                    Exam ({{ module.exam_value }}%)
                </th>
            {% endif %}
            <th>
                Module Mark
            </th>
        </tr>
    </thead>
    <tbody>
    {% for student, performance in performances.items|sort %}
        <tr>
            <td>
                {{ performance.seminar_group }}
            </td>
            <td>
                <a href="{{ performance.student.get_absolute_url }}">{{ performance.student.last_name }}, {{ performance.student.first_name|only_first_word }}</a>
            </td>
            <td>
                {% if performance.student.lsp %}<a href="{{ performance.student.get_lsp_view_url }}"><span class="glyphicon glyphicon-warning-sign"></span></a>{% endif %}
            <td>
                {{ performance.attendance | count_attendance }} / {{ module.sessions_recorded }}
            </td>
            {% if module.assessment_1_title %}
                <th>
                    {{ performance.assessment_1 }}
                </th>
            {% endif %}
            {% if module.assessment_2_title %}
                <th>
                    {{ performance.assessment_2 }}
                </th>
            {% endif %}
            {% if module.assessment_3_title %}
                <th>
                    {{ performance.assessment_3 }}
                </th>
            {% endif %}
            {% if module.assessment_4_title %}
                <th>
                    {{ performance.assessment_4 }}
                </th>
            {% endif %}
            {% if module.assessment_5_title %}
                <th>
                    {{ performance.assessment_5 }}
                </th>
            {% endif %}
            {% if module.assessment_6_title %}
                <th>
                    {{ performance.assessment_6 }}
                </th>
            {% endif %}
            {% if module.exam_value %}
                <th>
                    {{ performance.exam }}
                </th>
            {% endif %}
            <th>
                {{ performance.average }}
            </th>
        </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}

{% block scripts %}

$(document).on("click", ".delete", function(e) {
    bootbox.confirm("Are you sure you want to delete this module and all associated marks?", function(confirm) {
    if (confirm)
    {
    window.location.replace("/delete_module/{{ module.code }}/{{ module.year }}")
    }
});
});

{% endblock %}


{% block sortorder %}[[1,0],[0,0]]{% endblock %}
