{% extends "base.html" %}

{% block title %} {% if add %} Add {% else %} Edit {% endif %} Module {% endblock %}

{% block formstart %}
    {% if add %}
        {% url "add_module" as action_url %}
    {% else %}
        {% url "edit_module" object.pk as action_url %}
    {% endif %}
    <form action="{{ action_url }}" method="post" accept-charset="utf-8" role="form">
    {% csrf_token %}
{% endblock %}

{% block content %}

<h1>{% if add %} Add {% else %} Edit {% endif %} Module</h1>
<br>

    {% if module_form.errors %}
    <em>{{ module_form.errors }}</em>
    {% endif %}

    <h4>Module Information</h4>
    <table cellpadding = "10">
        <tr>
            <td>
                <table cellpadding = "10">
                    <tr>
                        <td>
                            <strong>Year</strong>
                        </td>
                        <td>
                            {{ module_form.year }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Successor of (essential for foundational modules)</strong>
                        </td>
                        <td>
                            {{ module_form.successor_of }}
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <strong>Teacher(s)</strong><br>Hold Ctrl to mark more than one<br>
                {{ module_form.instructors }}
            </td>
        </tr>
    </table>

    <br><br>

    <table cellpadding="10">            
        <tr>
            <td>
                <strong>Module title</strong>
            </td>
            <td>
                {{ module_form.title }}
            </td>
            <td>
                <strong>Code</strong>
            </td>
            <td>
                {{ module_form.code }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>Number of Credits</strong>
            </td>
            <td>
                {{ module_form.credits }}
            </td>
            <td>
                <strong>Who can/has to take this module?</strong>
            </td>
            <td>
                {{ module_form.eligible }}
            </td>
        </tr>
        {% if module_form.errors %}
        <tr>
            <td>
            </td>
            <td>
                {{ module_form.code.errors }}
            </td>
            <td>
            </td>
            <td>
                {{ module_form.credits.errors }}
            </td>
        </tr>
        {% endif %}
    </table>
    <table cellpadding="10">
        <tr>
            <td>
                {{ module_form.is_foundational }}
            </td>
            <td>
                This is a foundational module
            </td>
            <td>
                {{ module_form.is_nalp }}
            </td>
            <td>
                Module is required for the Paralegal Qualification
            </td>
            <td>
                {{ module_form.is_pg }}
            </td>
            <td>
                This is a postgraduate module
            </td>
    </table>

    <hr>

    <h4>Attendance</h4>
    <p>
    Enter the teaching weeks for the sessions with recorded attendance below. If you need more information, refer to the <a href="http://www.canterbury.ac.uk/support/registry/documents/taro/13-14-week-numbers.pdf" target="_blank">Week Overview</a> and the <a href="http://www.canterbury.ac.uk/support/student-support-and-guidance/term-dates/2013-2014.asp" target="_blank">Term Dates</a> on the CCCU website. If your module has an Independent Study Week or something similar, please enter the weeks where you will not be recording attendance into the "No Teaching In" field, separated by a comma. The Law Team suggestions for Independent Study Weeks are 9 (term 1) and 25 (term 2).
    </p>
    <table cellpadding = "10">
        <tr> 
            <td>
                <strong>First Teaching Week</strong>
            </td>
            <td>
                {{ module_form.first_session }}
            </td>
            <td>
                <strong>Last Teaching Week</strong>
            </td>
            <td>
                {{ module_form.last_session }}
            </td>
            <td>
                <strong>No Teaching In</strong>
            </td>
            <td>
                {{ module_form.no_teaching_in }}
            </td>
        </tr>
    </table>

    <hr>

    <h4>Assessment</h4>

    <table cellpadding="10">
        <tr>
            <td>
                <strong>Number of Coursework Assessments</strong>
            </td>
            <td>
                <select id="number_of_coursework" class="form-control" onchange="put_assessment_forms()">
                    {% if add %}
                    <option value="0">0</option>
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    {% else %}
                    <option value="0"{% if assessments == 0 %} selected{% endif %}>0</option>
                    <option value="1"{% if assessments == 1 %} selected{% endif %}>1</option>
                    <option value="2"{% if assessments == 2 %} selected{% endif %}>2</option>
                    <option value="3"{% if assessments == 3 %} selected{% endif %}>3</option>
                    <option value="4"{% if assessments == 4 %} selected{% endif %}>4</option>
                    <option value="5"{% if assessments == 5 %} selected{% endif %}>5</option>
                    <option value="6"{% if assessments == 6 %} selected{% endif %}>6</option>
                    {% endif %}
                </select>
            </td>
            <td>
                <strong>There will be an exam</strong>
            </td>
            <td>
                <input type="checkbox" name="exam" id="exam" value="1" checked onclick="show_hide_exam(this)" class="form-control">
            </td>
        </tr>
    </table>
    <table cellpadding="10" id="assessment_forms">
        <tr>
            <td>Title</td>
            <td>{{ module_form.assessment_1_title }}</td>
            <td>Assessment Value</td>
            <td>{{ module_form.assessment_1_value }}</td>
        </tr>

    </table>
    <div class="form-group" id="exam_area">
        <label for="id_exam_value">Exam Value</label>
        {{ module_form.exam_value }}
    </div>

    <input type = "submit" value="Save" class="btn btn-default">
</form>


{% endblock %}

{% block scripts %}

    function put_assessment_forms(){
        var element = document.getElementById("number_of_coursework");
        var assessment_2 = '<tr><td><strong>Assessment 1:</strong></td>\
                            <td>Title</td><td>\
                            {{ module_form.assessment_1_title }}</td>\
                            <td>Percentage</td><td>\
                            {{ module_form.assessment_1_value }}</tr>\
                            <tr><td><strong>Assessment 2:</strong></td>\
                            <td>Title</td><td>\
                            {{ module_form.assessment_2_title }}</td>\
                            <td>Percentage</td><td>\
                            {{ module_form.assessment_2_value }}</tr>';
        var assessment_3 = '<tr><td><strong>Assessment 3:</strong></td>\
                            <td>Title</td><td>\
                            {{ module_form.assessment_3_title }}</td>\
                            <td>Percentage</td><td>\
                            {{ module_form.assessment_3_value }}</tr>';
        var assessment_4 = '<tr><td><strong>Assessment 4:</strong></td>\
                            <td>Title</td><td>\
                            {{ module_form.assessment_4_title }}</td>\
                            <td>Percentage</td><td>\
                            {{ module_form.assessment_4_value }}</tr>';
        var assessment_5 = '<tr><td><strong>Assessment 5:</strong></td>\
                            <td>Title</td><td>\
                            {{ module_form.assessment_5_title }}</td>\
                            <td>Percentage</td><td>\
                            {{ module_form.assessment_5_value }}</tr>';
        var assessment_6 = '<tr><td><strong>Assessment 6:</strong></td>\
                            <td>Title</td><td>\
                            {{ module_form.assessment_6_title }}</td>\
                            <td>Percentage</td><td>\
                            {{ module_form.assessment_6_value }}</tr>';
        if (element.value=="0"){
            var toenter = '';
        }
        if(element.value=="1"){
            var toenter = '<tr><td>Assessment Title</td><td>\
                        {{ module_form.assessment_1_title }}\
                        </td><td>Assessment Value</td><td>{{ module_form.assessment_1_value }}</td></tr>';
        }
        if(element.value=="2"){
            var toenter = assessment_2;
        }
        if (element.value=="3"){
            var toenter = assessment_2 + assessment_3;
        }
        if (element.value=="4"){
            var toenter = assessment_2 + assessment_3 + assessment_4;
        }
        if (element.value=="5"){
            var toenter = assessment_2 + assessment_3 + assessment_4 + assessment_5;
        }
        if (element.value=="6"){
            var toenter = assessment_2 + assessment_3 + assessment_4 +
                assessment_5 + assessment_6;
        }

        document.getElementById("assessment_forms").innerHTML = toenter; 
    }
    
    function show_hide_exam(checkbox){
        if (checkbox.checked == true){
            toenter = '<strong>Exam Value</strong>{{ module_form.exam_value }}';
        }
        else{
            toenter = '';
        }
        document.getElementById("exam_area").innerHTML = toenter;
    }

    window.onload = put_assessment_forms();

    $(document).ready(function(){
            $('.form-control').change(function(){
                var sum = 0;
                var max_exam = 100;
                if ($('#id_assessment_1_value').length){
                    if ($('#id_assessment_1_value').val().length){
                        sum = sum + parseInt($('#id_assessment_1_value').val());
                        }
                    };
                if ($('#id_assessment_2_value').length){
                    if ($('#id_assessment_2_value').val().length){
                        sum = sum + parseInt($('#id_assessment_2_value').val());
                        }
                    };
                if ($('#id_assessment_3_value').length){
                    if ($('#id_assessment_3_value').val().length){
                        sum = sum + parseInt($('#id_assessment_3_value').val());
                        }
                    };
                if ($('#id_assessment_4_value').length){
                    if ($('#id_assessment_4_value').val().length){
                        sum = sum + parseInt($('#id_assessment_4_value').val());
                        }
                    };
                if ($('#id_assessment_5_value').length){
                    if ($('#id_assessment_5_value').val().length){
                        sum = sum + parseInt($('#id_assessment_5_value').val());
                        }
                    };
                if ($('#id_assessment_6_value').length){
                    if ($('#id_assessment_6_value').val().length){
                        sum = sum + parseInt($('#id_assessment_6_value').val());
                        }
                    };
                max_exam = max_exam - sum;
                $('#id_exam_value').val(max_exam);
            });
        });

    {% if add %}


    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            var csrftoken = '{{ csrf_token }}';
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                // Send the token to same-origin, relative URLs only.
                // Send the token only if the method warrants CSRF protection
                // Using the CSRFToken value acquired earlier
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });


        $(document).ready(function(){
            $('#id_year').bind('change', function (){
                $.post("/add_module/",
                    {'year':$(this).val()},
                    function(data) {
                        $("#id_successor_of").empty().append(data);
                    });
            });
        });

        $(document).ready(function(){
            $('#id_successor_of').bind('change', function (){
                $.post("/add_module/",
                    {'successor_of':$(this).val()},
                    function(data) {
                        $('#id_title').val(data.title);
                        $('#id_code').val(data.code);
                        $('#id_credits').val(data.credits);
                        $('#id_number_of_sessions').val(data.number_of_sessions);
                        $('#id_eligible').empty().append(data.eligible);
                        if (data.is_pg)
                        {
                            $('#id_is_pg').attr('checked', true);
                        }
                        else
                        {
                            $('#id_is_pg').attr('checked', false);
                        }
                        if (data.is_foundational)
                        {
                            $('#id_is_foundational').attr('checked', true);
                        }
                        else
                        {
                            $('#id_is_foundational').attr('checked', false);
                        }
                        $('#assessment_forms').empty().append(data.assessments);
                        if (data.exam)
                        {
                            $('#id_exam').attr('checked', true);
                            $('#id_exam_value').val(data.exam);
                        }
                        else
                        {
                            $('#exam').attr('checked', false);
                            $('#exam_area').text('')
                        }
        if (element.value=="3"){
            var toenter = assessment_2 + assessment_3;
        }

                    });
            });
        });

    {% endif %}

{% endblock %}
