{% extends "base.html" %}

{% block title %} Feedback for {{ student }}{% endblock %}

{% block formstart %}
    <form action="" method="post" accept-charset="utf-8" role="form">
    {% csrf_token %}
{% endblock %}

{% block content %}

<h1>{{ module }}: {{ assessment }}</h1>
<h2>Group {{ group_no }}</h2>
<br>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseGroup">
                    Group Part
                </a>
            </h4>
        </div>
        <div id="collapseGroup" class="panel-collapse collapse in">
            <div class="panel-body">
                <table cellpadding=10>
                    <tr>
                        <td>
                            First Marker
                        </td>
                        <td>
                            <select class="form-control" name="marker">
                                <option value="0">----</option>
                                {% for teacher in teachers %}
                                <option value="{{ teacher.id }}"{% if teacher.marker %} selected{% endif %}>{{ teacher.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Second First Marker (if marked by two teachers, NOT second marker!) Leave blank if only marked by yourself.
                        </td>
                        <td>
                            <select class="form-control" name="second_first_marker">
                                <option value="0">----</option>
                                {% for teacher in teachers %}
                                <option value="{{ teacher.id }}"{% if teacher.second_first_marker %} selected{% endif %}>{{ teacher.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    {% comment %}
                    <tr>
                        <td>
                            Submission Date
                        </td>
                        <td>
                            <input class= "form-control enter_date" data-date-format="dd/mm/yyyy" name="submission_date" value='{{ group_feedback.submission_date|date:"d/m/Y" }}' type="text" />
                        </td>
                    </tr>
                    {% endcomment %}
                    <tr>
                        <td>
                            Marking Date
                        </td>
                        <td>
                            <input class="form-control enter_date" data-date-format="dd/mm/yyyy" id="marking_date" name="marking_date" value='{{ group_feedback.marking_date|date:"d/m/Y" }}' type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Presentation Date
                        </td>
                        <td>
                            <input class="form-control enter_date" data-date-format="dd/mm/yyyy" id="presentation_date" name="presentation_date" value='{{ group_feedback.submission_date|date:"d/m/Y" }}' type="text" />
                        </td>
                    </tr>
                </table>
                <br><hr><br>
                <table cellpadding="10" class="table">
                    <thead>
                        <tr>
                            <td>
                                Category
                            </td>
                            <td>
                                Marks available
                            </td>
                            <td>
                                Mark
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <strong>Part 1: The Assessed Negotiation</strong>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ categories.group_category_1 }}
                            </td>
                            <td>
                                10
                            </td>
                            <td class="col-md-1">
                                <input class="form-control" id="group_category_mark_1" name="group_category_mark_1" type="text" value="{{ group_feedback.category_mark_1_free|default_if_none:"" }}" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ categories.group_category_2 }}
                            </td>
                            <td>
                                10
                            </td>
                            <td class="col-md-1">
                                <input class="form-control" id="group_category_mark_2" name="group_category_mark_2" type="text" value="{{ group_feedback.category_mark_2_free|default_if_none:"" }}" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Part 2: Written Submission</strong>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ categories.group_category_3 }}
                            </td>
                            <td>
                                10
                            </td>
                            <td class="col-md-1">
                                <input class="form-control" id="group_category_mark_3" name="group_category_mark_3" type="text" value="{{ group_feedback.category_mark_3_free|default_if_none:"" }}" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ categories.group_category_4 }}
                            </td>
                            <td>
                                10
                            </td>
                            <td class="col-md-1">
                                <input class="form-control" id="group_category_mark_4" name="group_category_mark_4" type="text" value="{{ group_feedback.category_mark_4_free|default_if_none:"" }}" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <strong>Comment on Group Work (both parts)</strong>
                <textarea class="form-control" cols="40" id="group_comments" name="group_comments" rows="10">{{ group_feedback.group_comments|default_if_none:"" }}</textarea>
            </div>
        </div>
    </div>
    {% for student, marksheet in marksheets.items %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ student.student_id }}">
                        {{ student.first_name }} {{ student.last_name }}
                    </a>
                </h4>
            </div>
            <div id="collapse{{ student.student_id }}" class="panel-collapse collapse">
                <div class="panel-body">
                    <table cellpadding="10" class="table">
                        <thead>
                            <tr>
                                <td>
                                    Category
                                </td>
                                <td>
                                    Marks available
                                </td>
                                <td>
                                    Mark
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Part 1: The Assessed Negotiation</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ categories.category_1 }}
                                </td>
                                <td>
                                    40
                                </td>
                                <td class="col-md-1">
                                    <input class="form-control" id="{{ student.student_id }}_category_mark_1" name="{{ student.student_id }}_category_mark_1" type="text" value="{{ marksheet.category_mark_1_free|default_if_none:"" }}" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Part 2: Written Submission</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ categories.category_2 }}
                                </td>
                                <td>
                                    10
                                </td>
                                <td class="col-md-1">
                                    <input class="form-control" id="{{ student.student_id }}_category_mark_2" name="{{ student.student_id }}_category_mark_2" type="text" value="{{ marksheet.category_mark_2_free|default_if_none:"" }}" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ categories.category_3 }}
                                </td>
                                <td>
                                    10
                                </td>
                                <td class="col-md-1">
                                    <input class="form-control" id="{{ student.student_id }}_category_mark_3" name="{{ student.student_id }}_category_mark_3" type="text" value="{{ marksheet.category_mark_3_free|default_if_none:"" }}" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ categories.category_4 }}
                                </td>
                                <td>
                                    12 <span class="glyphicon glyphicon-question-sign" id="deduction-help" data-placement="bottom" title="{{ categories.category_4_helptext }}"></span>
                                </td>
                                <td class="col-md-1">
                                    <input class="form-control" id="{{ student.student_id }}_category_mark_4" name="{{ student.student_id }}_category_mark_4" type="text" value="{{ marksheet.category_mark_4_free|default_if_none:"" }}" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <strong>Comment on Individual Work (both parts)</strong>
                    <textarea class="form-control" cols="40" id="{{ student.student_id }}_comments" name="{{ student.student_id }}_comments" rows="10">{{ marksheet.comments }}</textarea>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<br><br>
    <input type = "submit" value="Save" class="btn btn-default">
</form>


{% endblock %}

{% block scripts %}

<script type="text/javascript">

$(document).ready(function(){
    $(".enter_date").datepicker();
    $('#deduction-help').tooltip()
});
</script>
{% endblock %}
