{% extends "base.html" %}
{% load custom_filters %}
{% load markup %}

{% block title %}CCCU Law - {{student.first_name}} {{student.last_name}}{% endblock %}

{% block content %}

<div class="jumbotron">
    <h2>{{student.first_name}} {{student.last_name}} {% if not student.active %}(Inactive){% endif %}</h2>
<p>
<!--<table cellpadding="5">-->
<table class="table">
    <tr>
        <td><strong>ID</strong></td>
        <td>{{student.student_id}}</td>
        <td><strong>Course</strong></td>
        <td>{{ student.course }}{% if student.qld %} (QLD{% if student.is_part_time %}, part time{% endif %}){% elif student.is_part_time %} (part time){% endif %}</td>
    </tr>
    <tr>
        <td><strong>Email</strong></td>
        <td><a href="mailto:{{ student.email }}">{{ student.email }}</a></td>
        <td><strong>Tutor</strong></td>
        <td><a href="mailto:{{ student.tutor.email }}?Subject={{ student }}">{{ student.tutor.first_name }} {{ student.tutor.last_name }}</a></td>
    </tr>
    <tr>
        <td><strong>Year</strong></td>
        <td>{{ student.year }} {% if student.since %} (Since {{ student.since }}/{{ student.since|add:"1" }}) {% endif %}</td>
        <td><strong>LSP</strong></td>
        <td>{% if student.lsp %}<a href="{{ student.get_lsp_view_url }}">View</a> / <a href="{{ student.get_lsp_edit_url }}">Edit</a>{% else %}No LSP - <a href="{{ student.get_lsp_edit_url }}">Add</a>{% endif %}</a></td>
    </tr>
    <tr>
        <td><strong>Phone No</strong></td>
        <td>{{ student.phone_no }}</td>
    </tr>
</table>
</p>  
 <p align="right">
 <a class="btn btn-default" href="{{ student.get_edit_url }}">
        Edit
    </a>
</p>
</div>

<h2>Notes</h2>

{% if student.notes %}
    <p>
        {{ student.notes | markdown }}
    </p>  
{% else %}
    <em>
        No notes for this student.
    </em>
{% endif %}
<p align="right">
    <a class="btn btn-default" href="{{ student.get_notes_edit_url }}">
        Edit
    </a>
</p>

{% for year, performances_per_year in years_performances.items|sort_reverse %}

    <hr>
    <h2>{{ year }}/{{ year|add:"1" }}</h2>
    
    {% for performance in performances_per_year|sort %}

    <h3><a href = "{{ performance.module.get_absolute_url }}">{{ performance.module.title }}</a></h3>

    <table class="table table-bordered">
        <tr>
            <td>
                Attendance
            </td>
            <td>
                {{ performance.attendance | count_attendance }} / {{ performance.module.sessions_recorded }}
            </td>
        </tr>
        {% if performance.module.assessment_1_title %}
            <tr>
                <td>
                    {{ performance.module.assessment_1_title }} ({{ performance.module.assessment_1_value }} %)
                </td>
                <td>
                    {% if performance.q_assessment_1 %}
                        {{ performance.q_assessment_1 }} (QLD Resit, resit: {{ performance.r_assessment_1 }}, first: {{ performance.assessment_1 }})
                    {% elif performance.r_assessment_1 %}
                        {{ performance.r_assessment_1 }} (Resit, first: {{ performance.assessment_1 }})
                    {% else %}
                        {{ performance.assessment_1 }}
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        {% if performance.module.assessment_2_title %}
            <tr>
                <td>
                    {{ performance.module.assessment_2_title }} ({{ performance.module.assessment_2_value }} %)
                </td>
                <td>
                    {% if performance.q_assessment_2 %}
                        {{ performance.q_assessment_2 }} (QLD Resit, resit: {{ performance.r_assessment_2 }}, first: {{ performance.assessment_2 }})
                    {% elif performance.r_assessment_2 %}
                        {{ performance.r_assessment_2 }} (Resit, first: {{ performance.assessment_2 }})
                    {% else %}
                        {{ performance.assessment_2 }}
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        {% if performance.module.assessment_3_title %}
            <tr>
                <td>
                    {{ performance.module.assessment_3_title }} ({{ performance.module.assessment_3_value }} %)
                </td>
                <td>
                    {% if performance.q_assessment_3 %}
                        {{ performance.q_assessment_3 }} (QLD Resit, resit: {{ performance.r_assessment_3 }}, first: {{ performance.assessment_3 }})
                    {% elif performance.r_assessment_3 %}
                        {{ performance.r_assessment_3 }} (Resit, first: {{ performance.assessment_3 }})
                    {% else %}
                        {{ performance.assessment_3 }}
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        {% if performance.module.assessment_4_title %}
            <tr>
                <td>
                    {{ performance.module.assessment_4_title }} ({{ performance.module.assessment_4_value }} %)
                </td>
                <td>
                    {% if performance.q_assessment_4 %}
                        {{ performance.q_assessment_4 }} (QLD Resit, resit: {{ performance.r_assessment_4 }}, first: {{ performance.assessment_4 }})
                    {% elif performance.r_assessment_4 %}
                        {{ performance.r_assessment_4 }} (Resit, first: {{ performance.assessment_4 }})
                    {% else %}
                        {{ performance.assessment_4 }}
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        {% if performance.module.assessment_5_title %}
            <tr>
                <td>
                    {{ performance.module.assessment_5_title }} ({{ performance.module.assessment_5_value }} %)
                </td>
                <td>
                    {% if performance.q_assessment_5 %}
                        {{ performance.q_assessment_5 }} (QLD Resit, resit: {{ performance.r_assessment_5 }}, first: {{ performance.assessment_5 }})
                    {% elif performance.r_assessment_5 %}
                        {{ performance.r_assessment_5 }} (Resit, first: {{ performance.assessment_5 }})
                    {% else %}
                        {{ performance.assessment_5 }}
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        {% if performance.module.assessment_6_title %}
            <tr>
                <td>
                    {{ performance.module.assessment_6_title }} ({{ performance.module.assessment_6_value }} %)
                </td>
                <td>
                    {% if performance.q_assessment_6 %}
                        {{ performance.q_assessment_6 }} (QLD Resit, resit: {{ performance.r_assessment_6 }}, first: {{ performance.assessment_6 }})
                    {% elif performance.r_assessment_6 %}
                        {{ performance.r_assessment_6 }} (Resit, first: {{ performance.assessment_6 }})
                    {% else %}
                        {{ performance.assessment_6 }}
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        {% if performance.module.exam_value %}
            <tr>
                <td>
                    Exam ({{ performance.module.exam_value }} %)
                </td>
                <td>
                    {% if performance.q_exam %}
                        {{ performance.q_exam }} (QLD Resit, resit: {{ performance.r_exam }}, first: {{ performance.exam }})
                    {% elif performance.r_exam %}
                        {{ performance.r_exam }} (Resit, first: {{ performance.exam }})
                    {% else %}
                        {{ performance.exam }}
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        <tr>
            <td>
                <strong>Module Mark</strong>
            </td>
                <td>
                {% if performance.average_makes_sense %}
                    {{ performance.average }}
                {% else %}
                    Not available yet
                {% endif %}
                </td>
            </tr>
    </table>

    {% comment %}
     <p align="right">
        <a class="btn btn-default">
            Edit
        </a>
    </p>
    {% endcomment %}

    {% endfor %}
{% endfor %}


{% endblock %}
