{% extends "base.html" %}

{% block title %}CCCU Law - Tutees{% endblock %}

{% block content %}

<h2>List of Tutees</h2>

<br>

<a class="btn btn-default" id="show_mail_field">Email all tutees</a>

<div id="mail_field">
    <table cellpadding="10">
        <tr>
            <td>
                <a class="btn btn-default" href="mailto:{{ user.email }}?bcc={{ email_addresses }}">Email all tutees with your email client</a>
            </td>
            <td>
                Or copy and paste the email addresses:<br><br>
                <textarea class="form-control" id="copy_and_paste_field">{{ email_addresses }}</textarea>
            </td>
            <td>
                {% if no_email_addresses %}
                    <br><br>
                    Be aware that the email addresses for the following students are not currently in the database:
                    <br>
                    <ul>
                        {% for name in no_email_addresses %}
                        <li>{{ name }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
    </table>

    <br><br>
</div>

<table id="sortable_table" class="table table-striped table-sortable">
    <thead>
        <tr>
            <th>
                Concern
            </th>
            <th>
                Year
            </th>
            <th>
                Student
            </th>
            <th>
                Course
            </th>
        </tr>
    </thead>
    <tbody>
        {% for tutee in tutees %}
            <tr>
                <td>
                    {% if tutee in problem_students %}
                        Hallo
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
                <td>
                    {{ tutee.year }}
                </td>
                <td>
                    <a href = "{{ tutee.get_tutee_url }}">{{ tutee }}</a>
                </td>
                <td>
                    {{ tutee.course }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function(){

        $("#mail_field").hide();

        $("#show_mail_field").click(function(){
            $("#mail_field").toggle();
        });

        $("#copy_and_paste_field").hover(function(){
            $(this).select();
        });
    });
</script>
{% endblock %}
