{% extends "base.html" %}
{% load custom_filters %}
{% load markup %}

{% block title %}CCCU Law - Tutees{% endblock %}

{% block content %}

<div class="jumbotron">
    <h2>{{student.first_name}} {{student.last_name}}</h2>
<p>
<!--<table cellpadding="5">-->
<table class="table">
    <tr>
        <td><strong>ID</strong></td>
        <td>{{student.student_id}}</td>
        <td><strong>Course</strong></td>
        <td>{{ student.course }} ({% if not student.qld %}No {% endif %}QLD)</td>
    </tr>
    <tr>
        <td><strong>Email</strong></td>
        <td><a href="mailto:{{ student.email }}">{{ student.email }}</a></td>
        <td><strong>Year</strong></td>
        <td>{{ student.year }} {% if student.since %} (Since {{ student.since }}/{{ student.since|add:"1" }}) {% endif %}</td>
    </tr>
    <tr>
        <td><strong>LSP</strong></td>
        <td>{% if student.lsp %}<a href="{{ student.get_lsp_view_url }}">View</a> / <a href="{{ student.get_lsp_edit_url }}">Edit</a>{% else %}No LSP - <a href="{{ student.get_lsp_edit_url }}">Add</a>{% endif %}</a></td>
    </tr>
    <tr>
        <td><strong>Phone No</strong></td>
        <td>{{ student.phone_no }}</td>
    </tr>
</table>
</p>  

</div>

<p align="right">

<button class="btn btn-default" type="button" id="show_hide_performances">Show Performance</button>


</p>

<div id="performance">

<h2>Performance</h2>

{% for year, performances_per_year in years_performances.items|sort_reverse %}

    <hr>
    <h3>{{ year }}/{{ year|add:"1" }}</h3>
    
    {% for performance in performances_per_year|sort %}

    <h4>{{ performance.module }}</h4>

    <table class="table table-bordered">
        <tr>
            <td>
                Attendance
            </td>
            <td>
                {{ performance.attendance | count_attendance }} / {{ performance.module.sessions_recorded }}
            </td>
        </tr>
        {% if performance.module.assessment_1_title %}
            <tr>
                <td>
                    {{ performance.module.assessment_1_title }} ({{ performance.module.assessment_1_value }} %)
                </td>
                <td>
                    {% if performance.q_assessment_1 %}
                        {{ performance.q_assessment_1 }} (QLD Resit, resit: {{ performance.r_assessment_1 }}, first: {{ performance.assessment_1 }})
                    {% elif performance.r_assessment_1 %}
                        {{ performance.r_assessment_1 }} (Resit, first: {{ performance.assessment_1 }})
                    {% else %}
                        {{ performance.assessment_1 }}
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        {% if performance.module.assessment_2_title %}
            <tr>
                <td>
                    {{ performance.module.assessment_2_title }} ({{ performance.module.assessment_2_value }} %)
                </td>
                <td>
                    {% if performance.q_assessment_2 %}
                        {{ performance.q_assessment_2 }} (QLD Resit, resit: {{ performance.r_assessment_2 }}, first: {{ performance.assessment_2 }})
                    {% elif performance.r_assessment_2 %}
                        {{ performance.r_assessment_2 }} (Resit, first: {{ performance.assessment_2 }})
                    {% else %}
                        {{ performance.assessment_2 }}
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        {% if performance.module.assessment_3_title %}
            <tr>
                <td>
                    {{ performance.module.assessment_3_title }} ({{ performance.module.assessment_3_value }} %)
                </td>
                <td>
                    {% if performance.q_assessment_3 %}
                        {{ performance.q_assessment_3 }} (QLD Resit, resit: {{ performance.r_assessment_3 }}, first: {{ performance.assessment_3 }})
                    {% elif performance.r_assessment_3 %}
                        {{ performance.r_assessment_3 }} (Resit, first: {{ performance.assessment_3 }})
                    {% else %}
                        {{ performance.assessment_3 }}
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        {% if performance.module.assessment_4_title %}
            <tr>
                <td>
                    {{ performance.module.assessment_4_title }} ({{ performance.module.assessment_4_value }} %)
                </td>
                <td>
                    {% if performance.q_assessment_4 %}
                        {{ performance.q_assessment_4 }} (QLD Resit, resit: {{ performance.r_assessment_4 }}, first: {{ performance.assessment_4 }})
                    {% elif performance.r_assessment_4 %}
                        {{ performance.r_assessment_4 }} (Resit, first: {{ performance.assessment_4 }})
                    {% else %}
                        {{ performance.assessment_4 }}
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        {% if performance.module.assessment_5_title %}
            <tr>
                <td>
                    {{ performance.module.assessment_5_title }} ({{ performance.module.assessment_5_value }} %)
                </td>
                <td>
                    {% if performance.q_assessment_5 %}
                        {{ performance.q_assessment_5 }} (QLD Resit, resit: {{ performance.r_assessment_5 }}, first: {{ performance.assessment_5 }})
                    {% elif performance.r_assessment_5 %}
                        {{ performance.r_assessment_5 }} (Resit, first: {{ performance.assessment_5 }})
                    {% else %}
                        {{ performance.assessment_5 }}
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        {% if performance.module.assessment_6_title %}
            <tr>
                <td>
                    {{ performance.module.assessment_6_title }} ({{ performance.module.assessment_6_value }} %)
                </td>
                <td>
                    {% if performance.q_assessment_6 %}
                        {{ performance.q_assessment_6 }} (QLD Resit, resit: {{ performance.r_assessment_6 }}, first: {{ performance.assessment_6 }})
                    {% elif performance.r_assessment_6 %}
                        {{ performance.r_assessment_6 }} (Resit, first: {{ performance.assessment_6 }})
                    {% else %}
                        {{ performance.assessment_6 }}
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        {% if performance.module.exam_value %}
            <tr>
                <td>
                    Exam ({{ performance.module.exam_value }} %)
                </td>
                <td>
                    {% if performance.q_exam %}
                        {{ performance.q_exam }} (QLD Resit, resit: {{ performance.r_exam }}, first: {{ performance.exam }})
                    {% elif performance.r_exam %}
                        {{ performance.r_exam }} (Resit, first: {{ performance.exam }})
                    {% else %}
                        {{ performance.exam }}
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        <tr>
            <td>
                <strong>Module Mark</strong>
            </td>
            <td>
                {{ performance.average }}
            </td>
        </tr> 
    </table>

     <p align="right">
        <a class="btn btn-default">
            Edit
        </a>

    </p>

    {% endfor %}
{% endfor %}
</div>

<h2>Meeting Records</h2>

{% if meetings %}

{% for meeting in meetings %}

<h3>{{ meeting.date_of_meet }} {% if meeting.tutor != user %} (with {{ meeting.tutor.first_name }} {{ meeting.tutor.last_name }}){% endif %}</h3>

<p>
{{ meeting.notes | markdown }}
</p>

{% if meeting.tutor == user %}
    <p align="right">
    <small>
        <a href="{{ student.get_tutee_url }}{{ meeting.id }}#meeting_record">Edit</a> | <a href=# class="delete" id="{{ meeting.id }}">Delete</a>
    </small>
    </p>
{% endif %}

{% endfor %}

{% else %}

No meetings recorded yet.

{% endif %}

{% if student.tutor == user %}

<br><hr><br>

<h2 id="meeting_record">Meeting Record</h2>

    <p align="right">
        <button class="btn btn-sm" type="button" id="md-helper">Help with Formatting</button>
    </p>


    <div id="md-helptext">
    {{ mdexplanation | safe }}
    </div><br>


    <form action="/tutee/{{ student.student_id }}/{% if edit %}{{ edit }}/{% endif %}" method="post" accept-charset="utf-8">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-3">
                {{ form.date_of_meet }}
            </div>
        </div>
        <br><br>
        {{ form.notes }}<br>
        <input type="submit" value="Save" class="btn btn-default">
    </form>

{% endif %}

{% endblock %}

{% block scripts %}

<script type="text/javascript">

    $(document).ready(function(){
        $("#md-helptext").hide();
    });

    $(document).ready(function(){
        $("#performance").hide();
    });
    
    $(document).ready(function(){
        $("#show_hide_performances").click(function(){
            $("#performance").toggle();
          });
    });  
    
    $(document).ready(function(){
            $('#show_hide_performances').click(function(){
                  if ($(this).text() == "Show Performance") 
                  { 
                     $(this).text("Hide Performance"); 
                  } 
                  else 
                  { 
                     $(this).text("Show Performance"); 
                  }; 
                });
            });

    $(document).ready(function(){
        $("#md-helper").click(function(){
            $("#md-helptext").toggle();
        });
    });

    $(document).ready(function(){
            $('#md-helper').click(function(){
                  if ($(this).text() == "Help with Formatting") 
                  { 
                     $(this).text("Hide Formatting Help"); 
                  } 
                  else 
                  { 
                     $(this).text("Help with Formatting"); 
                  }; 
                });
            });

    $(document).ready(function(){
        $( "#id_date_of_meet" ).datepicker();
    });

$(document).on("click", ".delete", function(e) {
    bootbox.confirm("Are you sure you want to delete this meeting record?", function(confirm) {
        if (confirm)
        {
            var meeting_id = e.target.id;
            var url = "{% url 'delete_tutee_meeting_no' %}" + meeting_id;
            window.location.replace(url);
        }
    });
});
</script>
{% endblock %}
